@charset "UTF-8";

body {
	margin: 0;
}

#sectionCalBox {
	padding-top: 50px;
	padding-bottom: 50px;
}

#calBox {
	margin: auto;
	border: 1px solid #BEBEBE;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #BEBEBE;
	padding: 30px;
	width: 1000px;
}

#alertSignIn {
	width: 1000px;
	font-style: italic;
	display: flex;
	justify-content: flex-end;
}

table {
	margin: auto;
	border: 1px solid #BEBEBE;
	border-collapse: collapse;
}

table caption {
	margin-bottom: 20px;
	margin-top: 20px;
}

table caption select {
	border: 1px solid #BEBEBE;
	border-radius: 10px;
	height: 40px;
	width: 70px;
	font-size: 20px;
	text-align: center;
}

table td, tr {
	border: 1px solid #BEBEBE;
	width: 100px;
}

table td div {
	height: 15px;
	padding: 5px;
}

table #field>td {
	font-weight: bold;
	color: #FF8000;
	text-align: center;
}

table td .rooms {
	display: flex;
	align-items: center;
	justify-content: center;
}

table td .rooms a {
	text-decoration: none;
	color: #FF8000;
}

table td .rooms a:hover {
	cursor: pointer;
	font-weight: bold;
}