@charset "UTF-8";

body {
	margin: 0;
}

#sectionCalBox {
	padding-top: 50px;
	padding-bottom: 50px;
}

#calBox {
	margin: auto;
	border: 1px solid #BEBEBE;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #BEBEBE;
	padding: 30px;
	width: 1000px;
}

table {
	margin: auto;
	width: 700px;
	border: 1px solid #BEBEBE;
	border-collapse: collapse;
}

table caption:nth-child(1) {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}

table caption:nth-child(2) {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

table td, tr {
	border: 1px solid #BEBEBE;
	vertical-align: center;
}

table td div {
	height: 15px;
	padding: 3px;
}

table #field>td {
	font-weight: bold;
	color: #FF8000;
	text-align: center;
}