@charset "utf-8";

section {
	height: 500px;
}
table {
	width: 500px;
	margin: auto;
	height: 500px;
	text-align: center;
}

tr {
	height: 50px;
	border: 1px solid gray;
}

#useridx, #namex, #passwordx, #confirmPasswordx, #emailx {
	color: red;
	font-size: 13px;
	font-style: italic;
}