@charset "utf-8";

section {
	height: 500px;
}

article:nth-child(1) {
	height: 150px;
	background-image: url(../Image/arizona.jpg);
	background-size: 100%;
	background-repeat: no-repeat;

}

table {
	border: 1px solid red;
	margin: auto;
	height: 500px;
	text-align: center;
	width: 600px;
}

tr {
	height: 50px;
	border: 1px solid gray;
}

#useridx, #namex, #passwordx, #confirmPasswordx, #emailx {
	color: red;
	font-size: 13px;
	font-style: italic;
	width: 200px;
}