@charset "UTF-8";

section {
	height: 700px;
}
article:nth-child(1) {
	height: 150px;
	background-image: url(../Image/arizona.jpg);
	background-size: 100%;
	background-repeat: no-repeat;

}
article:nth-child(2) {
	margin: auto;
	width: 400px;
	border: 1px solid lightgrey;
	box-shadow: 3px 3px 7px 3px lightgrey;
	/* box-shadow: h v blur size color */
}
input:focus {
	outline: none;
}
input[type=submit], input[type=button] {
	cursor: pointer;
}
/* article div:nth-child(n) {} */
article>form {
	margin: auto;
	width: 400px;
}

#captionSignin {
	margin: auto;
	width: 300px;
	height: 80px;
	border-bottom: 1px solid lightgrey;
	font-size: 26px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

#formSignin {
	margin: auto;
	width: 300px;
	font-size: 12px;
	color: grey;
	padding-top: 50px;
	padding-bottom: 30px;
	padding-top: 30px;
}

#formSignin input[type=text], input[type=password] {
	width: 298px;
	height: 40px;
	border: 1px solid lightgrey;
}

#formSignin input[type=submit] {
	width: 298px;
	height: 40px;
	border: 1px solid #3C95D5;
	border-radius: 7px;
	background: #3C95D5;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border-radius: 7px;
}

article>#infoSignin {
	margin: auto;
	border-top: 1px solid lightgrey;
	width: 380px;
	padding: 10px;
	font-size: 12px;
}

#infoSignin>input[type=button] {
	width: 186px;
	height: 40px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	font-size: 12px;
/* 	display: table-cell; */
/* 	vertical-align: middle; */
}

#infoSignin>#buttonFind {
	background: #4c4c4c;
	color: white;
}

#infoSignin>#buttonSignup {
	background: white;
}
article>#backToMain {
	margin: auto;
	border-top: 1px solid lightgrey;
	width: 400px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#backToMain a {
	text-decoration: none;
	color: black;
	font-size: 13px;
}