@charset "UTF-8";

section article:nth-child(1) {
	height: 150px;
	background-image: url(../Image/arizona.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

section article:nth-child(2) {
	height: 1000px;
	padding-top: 50px;
	padding-bottom: 50px;
}

table {
	border: 1px solid lightgrey;
	border-radius: 10px;
	margin: auto;
	height: 500px;
	text-align: center;
	width: 600px;
}

td {
	height: 50px;
	font-size: 13px;
	text-align: center;
}

#submitButtonBox {
	text-align: center;
}

td:nth-child(1) {
	text-align: left;
	font-weight: bold;
	padding: 10px;
	weight: 150px;
}

tr input[type=text], [type=password] {
	height: 20px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 5px;
}

tr input[type=button],[type=submit] {
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background: #F0C0FF;
	color: #555555;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
}

#useridx, #namex, #passwordx, #confirmPasswordx, #emailx {
	color: red;
	font-size: 13px;
	font-style: italic;
	width: 200px;
}