@charset "UTF-8";

body {
	margin: 0;
}

#popup {
	position: absolute;
	left: 200px;
	top: 200px;
	width: 340px;
	height: 200px;
	border: 3px solid lightgrey;
	border-radius: 10px;
	font-weight: bold;
}

#popup table {
	width: 340px;
	height: 200px;
}

#popup .pop {
	text-align: center;
}

#popup .pop input {
	margin: 0 20px 0 20px;
	background: #2C3135;
	border: 1px solid lightgrey;
	color: white;
}

header #signin {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#signin>a {
	margin: 15px;
	font-size: 12px;
	color: black;
	text-decoration: none;
	color: black;
}

#signin>a:hover {
	text-decoration: underline;
}

@media ( max-width : 300px) {
	#signin>a {
		display: none;
	}
}

header #topbar {
	height: 70px;
	display: grid;
	grid-template-columns: 300px 1fr;
}

header #topbar>#logo {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
}

@media ( max-width : 1100px) {
	header #topbar {
		display: block;
	}
	header #topbar>#menu {
		display: none;
	}
}

header #topbar #menu>ul {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	display: flex;
}

header #topbar #menu>ul>li {
	margin-left: 100px;
	list-style: none;
	font-weight: bold;
}

header #topbar #menu li a {
	color: black;
	text-decoration: none;
}

section #image {
	height: 500px;
	background-image: url(../Image/arizona.jpg);
	background-size: 100%; /* width 기준 */
	background-repeat: no-repeat;
	color: white;
	font-size: 30px;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 20px;
}

@media ( max-width : 1673px) {
	section #image {
		background-size: 1673px 100%;
	}
}

section #about {
	display: grid;
	grid-template-columns: 1020px 1fr;
}

section #about div:nth-child(1) {
	padding: 10px;
}

section #about div:nth-child(1)>img {
	width: 1000px;
	border: none;
	border-radius: 10px;
	border: none;
}

section #about div:nth-child(1)>img:hover {
	opacity: 0.5;
}

section #reserve {
	height: 300px;
	background: orange;
}

section article:nth-child(1) {
	height: 150px;
	background-image: url(../Image/arizona.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

section article:nth-child(2) {
	height: 1000px;
}


footer {
	height: 100px;
	background: #1C1F22;
}