@charset "UTF-8";

section article:nth-child(1) {
	height: 150px;
	background-image: url(../Image/arizona.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

section article:nth-child(2) {
	height: 1000px;
}

table {
	margin: auto;
	width: 1000px;
}

#announceContentTable {
	border: 1px solid lightgrey;
	border-collapse: collapse;
	margin-bottom: 20px;
}

#announceContentTable>caption:nth-child(1) {
	font-weight: bold;
	font-size: 25px;
	padding-top: 50px;
	padding-bottom: 10px;
	text-align: left;
}

#announceContentTable>caption:nth-child(2) {
	font-weight: bold;
	font-size: 13px;
	padding: 20px;
	text-align: right;
}

#announceContentTable>caption:nth-child(2) a {
	margin-left: 30px;
}

#announceContentTable #fields {
	font-weight: bold;
	background: #F6F4F1;
	height: 20px;
}

#announceContentTable .contentInfo {
	height: 60px;
}

#announceContentTable #content td {
	text-align: center;
	vertical-align: top;
	height: 300px;
}

#announceContentTable tr, td {
	border: 1px solid lightgrey;
	padding: 10px;
	text-align: center;
	font-size: 13px;
}

#announceContentTable tr, td a {
	text-decoration: none;
	color: black;
}

#announceContentTable td:nth-child(1) {
	width: 60%;
}

#announceContentTable td:nth-child(2) {
	width: 20%;
}

#announceContentTable td:nth-child(3) {
	width: 20%;
}

/* 댓글 부분 */

#replyContentTable .showReplies td {
	border-radius: 10px;
	margin-bottom: 10px;
}

#replyContentTable .inputReplies td {
	border: 1px solid #040404;
	border-radius: 10px;
	background: #040404;
}

#replyContentTable .inputReplies td input, textarea {
	background: #040404;
	border: 1px solid #040404;
	color: white;
}

