@charset "utf-8";


input, textarea {
	border: 1px solid lime;
	background: #4C4C4C;
	color: yellow;
	font-size: 18px;
}

#submitButton {
	border: 1px solid lime;
	border-radius: 5px;
	background: #4C4C4C;
	color: lime;
	font-size: 18px;
	height: 35px;
	width: 80px;
}