@charset "UTF-8";

/* 전체 틀 */
body {
	margin: 0;
	display: grid;
	grid-template-columns: 300px 1fr;
}

nav {
	height: 900px;
	border: 1px solid red;
}

#grid_main {
	border: 1px solid blue;
}

/* grid_main 내부 */

footer {
	height: 250px;
	background: red;
}

/* nav bar 스타일 */
/* 전체 <li> 스타일  */
nav li {
	list-style-type: none;
	font-size: 14px;
}

/* 상세항목 <ul> 스타일 */
nav .sub {
	height: 25px;
	margin-top: 15px;
	padding-left: 15px;
	display: none;
}

/* 하위메뉴 li */
nav .sub li {
	height: 20px;
}