@charset "UTF-8";

.welcome_image {
	height: 730px;
	background-image: url("../Etc/vintage1.jpg");
	background-size: 50%;
}

.welcome_image #welcome_text {
	font-size: 50px;
	font-style: italic;
	color: white;
	margin-left: 50px;
}