@charset "UTF-8";

#myorder_header {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
/* 	font-family: 'Gill Sans MT Std'; */
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 14px;
	color: #353535;
}

/* ACCOUNT 본문 grid display */
.myorder_section .account_grid_container {
	display: grid;
	grid-template-columns: 8fr 2fr;
}
/* 조회기간 */
.account_grid_left ul {
	width: 800px;
	margin: auto;
	display: flex;
	justify-content: center;
}

.account_grid_left ul li {
	list-style-type: none;
	margin: 35px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

.account_grid_left ul li:hover {
	color: #FF8000;
}


#period_controller {
	width: 800px;
	margin: auto;
	text-align: center;
}

/* 주문내역마다 테이블 */
.myorder_section table {
	border: 1px solid #495164;
	width: 800px;
	margin: auto;
}

.myorder_section table caption {
	text-align: left;
	padding-left: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #495164;
	padding-top: 20px;
	padding-bottom: 20px;
}

.myorder_section table td {
	color: #555555;
}

.myorder_section table td:nth-child(1) {
	width: 20%;
	text-align: center;
}

.myorder_section table td:nth-child(2) {
	width: 50%;
	text-align: left;
}

.myorder_section table td:nth-child(3) {
	width: 30%;
	text-align: center;
}

a {
	color: #3897F0;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;	
}