@charset "UTF-8";

#myorder_header {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* 	font-family: 'Gill Sans MT Std'; */
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 14px;
	color: #353535;
}

/* ACCOUNT 본문 grid display */
.myorder_section .account_grid_container {
	display: grid;
	grid-template-columns: 8fr 2fr;
}
/* 조회기간 */
.account_grid_left ul {
	width: 800px;
	margin: auto;
	display: flex;
	justify-content: center;
}

.account_grid_left ul li {
	list-style-type: none;
	margin: 35px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

.account_grid_left ul li:hover {
	color: #FF8000;
}

#period_controller {
	width: 800px;
	margin: auto;
	text-align: center;
}

/* 주문내역마다 테이블 */
.myorder_section table {
	border: 1px solid #495164;
	border-radius: 5px;
	width: 800px;
	height: 140px;
	margin: auto;
}

.myorder_section table caption {
	text-align: left;
	padding-left: 10px;
	font-size: 15px;
	color: #495164;
	padding-top: 20px;
	padding-bottom: 10px;
	cursor: pointer;
}

.myorder_section table td {
	color: #555555;
	font-size: 14px;
	height: 120px;
}

.myorder_section table img {
	cursor: pointer;
	border: none;
	border-radius: 50%;
}

.myorder_section table td:nth-child(1) {
	width: 20%;
	text-align: center;
}

.myorder_section table td:nth-child(2) {
	width: 50%;
	text-align: left;
}

.myorder_section table td:nth-child(3) {
	width: 30%;
	text-align: center;
}

a {
	color: #3897F0;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

/* 적립 포인트 텍스트 */
#show_get_point {
	font-size: 11px;
	color: #FF8000;
}

#order_code {
	font-size: 12px;
}

/* 리뷰작성 레이어 */
#layer_review {
	visibility: hidden;
	border: 3px solid #555555;
	background: white;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 20px;
	left: 500px;
}