@charset "UTF-8";

/* 전체 틀 */
body {
	margin: 0;
	/* 	display: grid; */
	/* 	grid-template-columns: 300px 1fr; */
}

nav {
	/* 포지션 fixed 했더니, grid display 가 적용되지 않네 .... */
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
}

/* 메인 바디 grid display*/
#grid_container {
	width: 100%;
	display: grid;
	grid-template-columns: 300px 1fr;
}

footer {
	height: 250px;
	background: grey;
}

/* nav bar 스타일 */
/* 로고 */
#top {
	height: 20%;
	color: #353535;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(img.jpg) center center fixed no-repeat;
}
/* 로고  영상 */
#top video {
	z-index: -1000;
	overflow: hidden;
	width: 50px;
}

/* 카테고리 */

#middle {
/* 	padding-top: 100px; */
/* 	padding-bottom: 100px; */
	height: 50%;
}


/* 검색/장바구니 등 */
#bottom {
	height: 30%;
}

/* 전체 <li> 스타일  */
nav li {
	list-style-type: none;
	font-size: 15px;
	color: #353535;
	cursor: pointer;
	margin: 10px;
	letter-spacing: 5px;
}

nav a {
	text-decoration: none;
	color: #353535;
	letter-spacing: 5px;
	font-size: 13px;
	font-weight: 700;
}

/* 상세항목 <ul> 스타일 */
nav .sub {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	display: none;
}

/* 하위메뉴 li */
nav .sub li {
	height: 20px;
}