@charset "UTF-8";

/* 로그인 */
.product_buynow_section {
	margin-bottom: 150px;
}

.product_buynow_section #buynow_main {
	width: 1200px;
	margin: auto;
}

/* 주문서 작성 글자 */
#buynow_header {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
/* 	font-family: 'Gill Sans MT Std'; */
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 14px;
	color: #353535;
}

/* 주문 단계 표시 */
#buynow_stage {
	width: 1200px;
	margin: auto;
	padding: 0;
	display: flex;
	border: 1px solid #eeeeee;
	border-radius: 5px;
}

#buynow_stage div {	
	font-weight: bold;
	font-style: italic;
	width: 300px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#buynow_stage div:nth-child(1) {
	background: #B5B5B5;
	color: white;
}

#buynow_stage div:nth-child(2) {
	background: #495164;
	color: white;
}

#buynow_stage div:nth-child(3) {
	background: #FFF8F5;
	color: #B5B5B5;
}

#buynow_stage div:nth-child(4) {
	background: white;
	color: #B5B5B5;
}

/* 국내배송 테이블 */
#table_domestic, .table_userinformation, #payment, #process_payment {
	width: 1200px;
	margin: auto;
	padding: 0;
}

#table_domestic table, .table_userinformation table {
	width: 1200px;
	border-collapse: collapse;
	margin-top: 50px;
}

#table_domestic table caption, .table_userinformation table caption {
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	color: #495164;
	padding: 10px;
}

#table_domestic td, .table_userinformation th, td {
	border: 1px solid #eeeeee;
	height: 30px;
	font-size: 12px;
	color: #515151;
	/* 주문정보 테이블은 별도 지정 */
	text-align: center;
	vertical-align: center;
}

/* 테이블 필드명 굵게 */
#table_domestic table .field td {
	font-weight: bold;
}

/* 국내배송 + 주문정보 테이블 헤드 */
#table_domestic .table_head, .table_userinformation .table_head {
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
}

#table_domestic table .table_footer {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	height: 50px;
}

/* 주문정보 테이블 텍스트 정렬 */
.table_userinformation td {
	text-align: left;
	vertical-align: center;
	padding-left: 10px;
}
/* 테이블 여백 */
.space {
	height: 80px;
	border-left: none;
	border-right: none;
}

/* 결제 금액 안내 박스 */

#amount_total {
	color: #FF00FF;
	font-size: 22px;
}

/* 결제수단 선택 박스 grid */
#process_payment {
	display: grid;
	grid-template-columns: 4fr 6fr;
	border: 1px solid #eeeeee;
	margin-top: 10px;
}

#process_payment div {
/* 	border: 1px solid #eeeeee; */
	font-size: 12px;
}

/* 금액 안내 박스 */
.amount_box {
	border: none;
	background: none;
}

input:focus {
	outline: none;
}

/* 결제수단 선택 */

#radio_box {
	padding-top: 20px;
	padding-bottom: 20px;
}

#radio_box input[type=radio], #confirm_box {
	margin-left: 20px;
}
/* 결제수단 선택에 따른 레이어 */
#layer_box .pay_form {
	height: 100px;
	display: none;
}

#layer_box .pay_form:nth-child(1) {
	display: block;
}

#layer_box .pay_form>table, .pay_form>div {
	width: 300px;
	margin: auto;
}
/* 최종 결제 금액 강조 구간 */
#process_payment #amount_pay_emphasis {
	height: 70px;
	font-size: 30px;
	color: #FF8080;
	font-weight: bold;
	letter-spacing: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 구매 컨펌 */
#confirm_box {
	height: 60px;
}

/* 최종 submit 버튼 구간 */
#submit_button_box {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#submit_button_box input[type=submit] {
	width: 200px;
	height: 70px;
	border: 1px solid #495164;
	border-radius: 5px;
	background: #495164;
	color: white;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 70px;
	margin-right: 30px;
}

/* 버튼 공통 스타일 */
.button {
	height: 50px;
	border: none;
	padding-top: 20px;
	padding-left: 10px;
}

.button input[type=button] {
	width: 120px;
	height: 30px;
	background: #8C8C8C;
	color: white;
	border: 1px solid #8C8C8C;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

/* 주문정보/배송정보 테이블 내 버튼 공통 스타일 */
.zip_button {
	border: 1px solid #495164;
	border-radius: 5px;
	background: #495164;
	color: white;
	font-size: 12px;
	cursor: pointer;
}

.recipient_button {
	border: 1px solid #495164;
	border-radius: 5px;
	background: none;
	color: #495164;
	font-size: 11px;
	font-weight: bold;
	margin-left: 20px;
	cursor: pointer;
}
