@charset "UTF-8";

.product_manage_section {
	height: 900px;
	overflow: scroll;
}

.list_header {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
/* 	font-family: 'Gill Sans MT Std'; */
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 14px;
	color: #353535;
}

/* 상품 리스트 테이블 크기 (브라우저 크기에 맞추기) */
table {
	width: 1200px;
	margin: auto;
	border-collapse: collapse;
}

table caption {
	text-align: right;
	padding: 20px;
}

table td {
	border: 1px solid grey;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: grey;
	font-size: 13px;
}

table #field td {
	font-weight: bold;
	color: #353535;
}

table td a {
	color: grey;
}
