@charset "UTF-8";

.board_section {
	height: 700px;
	overflow: scroll;
}

/* 게시판 종류 텍스트 */
.board_header {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
/* 	font-family: 'Gill Sans MT Std'; */
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 14px;
	color: #353535;	
}

/* 테이블 */
.board_table table, .board_link {
	width: 600px;
	margin: auto;
/* 	border: 1px solid red; */
}

.board_table table {
	border: 1px solid #CFCFCF;
	border-radius: 5px;
}

/* 목록 링크 */
.board_table .board_link {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	text-align: right;
	vertical-align: center;
}

/* 게시글 제목 부분 (caption) */
.board_table table caption {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: left;
	vertical-align: center;
	border: 1px solid #CFCFCF;
	border-radius: 5px;
	margin-bottom: 10px;
}

.board_table table caption input {
	border: none;
	background: none;
	font-size: 15px;
	font-weight: bold;
}

.board_table table input:focus {
	outline: none;
}

.board_table table td {
	text-align: center;
	vertical-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
}

.submit_space {
	padding-top: 20px;
	padding-bottom: 20px;
}